body{
 background-color:pink;
 color:red;

 font-family:Arial, Helvetica, sans-serif;
 font-size:20px;
 font-weight:normal;

 /*same as above*/
 font: normal 16px Arial, Helvetica, sans-serif;

 line-height:1.6em;
 margin:0;
}

.mainTwoLines{
 background-color:green;
}

.imageArea{
 background-color:blue;
 color:#fff;
}
.container{
 /*960 pixels is the most famous size*/
 /*its suitable to use a percentage as 80%*/
 width:80%;
 margin:auto;
}

.XX{
 margin-top:10px black solid;
 margin-bottom:10px red solid;
 margin-right:10px blue solid;
 margin-left:10px green solid;

 border-top:5px black solid;
 border-bottom:5px red solid;
 border-right:5px blue solid;
 border-left:5px green solid;

}

h1{
 color:green;
}