

.top-container {
 background-color: coral;
 height: 200px;
 width: 200px;
 padding: 20px;
 border:solid black;
}

.middle-container{
    height: 200px;
    width: 200px;
    background-color: red;
    border:solid black 20px;
    margin-left: 33.33%;
}

.bottom-container{
    height: 200px;
    width: 200px;
    background-color: yellow;
    border:solid black 10px;
    margin-left: 66.66%;
}


